@import 'tailwindcss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	background: var(--background);
	color: var(--foreground);
}

@layer utilites {
	.center {
		@apply flex items-center justify-center text-center;
	}
}
